@font-face {
  font-family: 'zzz_font';
  src: local('Mont Heavy'), url(./fonts/ZZZ_FR.ttf) format('truetype');
}

@font-face {
  font-family: 'paybooc_bold';
  src: url(./fonts/paybooc-Bold.woff);
  font-weight: bold;
}

:root {
  font-family: "zzz_font", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}