@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "zzz";
        font-stretch: 90%;
        white-space: nowrap;
        src: local("Mont Heavy"), url(./fonts/ZZZ_FR.ttf) format("truetype");
    }

    @font-face {
        font-family: "paybooc";
        font-weight: 400;
        white-space: nowrap;
        font-weight: bold;
        text-shadow: 2px 2px 6px #000000;
        src: url(./fonts/paybooc-Bold.woff);
    }

    :root {
        font-family: "paybooc", Impact, Haettenschweiler, "Arial Narrow Bold",
            sans-serif;
        line-height: 1.5;
        font-weight: 400;

        color-scheme: light dark;
        color: rgba(255, 255, 255, 0.85);
        background-color: #242424;

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        --color-cinema-yellow: #fff000;
        --color-cinema-gray: #949494;
    }
}

@layer components {
    .card-primary {
        @apply relative overflow-hidden border border-solid rounded-xl border-stone-700 bg-stone-800 transition-all duration-500 hover:border-opacity-15 bg-opacity-60 border-opacity-50 shadow-xl p-7;
    }

    .divider-base {
        @apply flex box-border clear-both opacity-15;
    }

    .divider-disc {
        @apply border-[0.75px] border-solid divide-solid my-[10px] mx-auto;
    }

    .divider-text {
        @apply border border-dashed grow my-auto mx-[10px];
    }

    .button-base {
        @apply text-sm text-gray-900 border border-stone-300 rounded-md cursor-pointer bg-gray-50 dark:text-stone-400 focus:outline-none dark:bg-stone-700 dark:border-stone-600 dark:placeholder-gray-400 text-[16px] opacity-90;
    }

    .text-border {
        -webkit-text-stroke-width: 4px;
        -webkit-text-stroke-color: #000000cc;
        paint-order: stroke fill;
    }
    .side-menu-button {
        @apply hover:bg-stone-800 mx-4 p-1 rounded-md;
    }

    .side-menu-content {
        @apply flex flex-col bg-stone-900 py-2 items-start text-[17px] transition-all duration-500 overflow-hidden;
    }
}

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: #101010;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: #78716c;
        border-radius: 100vh;
        border: 1px solid #1c1917;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: #44403c;
    }
}
